<h2>&nbsp;<%= @today %>&nbsp;</h2>
<%= link_to "&laquo; Yesterday".html_safe, show_date_path(@yesterday, request.query_parameters), class: 'button' %>
<%= link_to "Tomorrow &raquo;".html_safe, show_date_path(@tomorrow, request.query_parameters), class: 'button' %>
<div class='wrap agenda'>
 <% @events.each do |event| %> 
   <div class='event' data-color="<%= event.color %>">
     <%= link_to event do %>
       <span class='dot' style="background: <%= event.color %>"></span>
       <span><%= event.title %><span><small> (<%= event.space.title %> @ <%= event.start_date.strftime("%l%p") %> - <%= event.end_date.strftime("%l%p") %>)</small>
     <% end %>
     <ul>
       <li><strong>Room:</strong> <%= event.space.title %></li>
       <% if event.producer %>
	 <li><strong>Producer:</strong> <%= event.producer%></li>
       <% end %>
       <% unless event.instructor.blank? %>
	 <li><strong>Instructor:</strong> <%= event.instructor%></li>
       <% end %>
       <% unless event.notes.empty? %>
	 <li><strong>Notes:</strong>
	   <ul>
	     <% event.notes.each do |note| %>
	       <li><%= note.text %></li>
	     <% end %>
	   </ul>
	 </li>
       <% end %>
     </ul>
   </div>
 <% end %>
</div>
