<% if @event.errors.any? %>
  <% @event.errors.full_messages.each do |err| %>
    <div class='error'>
      <%= err.html_safe %>
    </div>
  <% end %>
<% end %>
<%= form_for @event do |f| %>
  <span id='event' data='<%= @event.id %>' style='display: none'>Event</span>
  <%= f.label :title %>
  <%= f.text_field :title, required: true %>
  <br>
  <%= f.label :space_id %>
  <%= f.select :space_id, Space.all.collect{|s| [s.title, s.id] } %>
  <br>
  <%= f.label :custom_color %>
  <input class='js-custom-color' type='color' name='event[custom_color]' value='<%= @event.color %>'>
  <script> var colors = <%= Hash[EventType.all.map{|et| [et.title, et.color] }].to_json.html_safe %></script>
  <span class="swatch start">S</span>
  <span class="swatch middle">M</span>
  <span class="swatch end">E</span>
  <br>
  <%= f.label :event_style %>
  <%= f.select :event_style, ["Class", "Lecture", "Other - See Notes"], selected: "Class" %>
  <br>
  <%= f.label :event_type_id %>
  <% kinds = ["Immersive", "Part Time Course", "Info Session", "C&W", "Event", "Alumni", "Internal"]%>
  <%= f.select :event_type_id, EventType.all.collect{|et| [et.title, et.id] } %>
  <br>
  <% if @recurring_event %>
    <span id='recurring_event' data='<%= @recurring_event.id %>' style='display: none'>Recurring Event</span>
    <%= f.label :start_date %>
    <input class='datetimepicker' name='event[start_date]' required="true" value="<%= @recurring_event.start_date%>" >
    <br>
    <%= f.label :end_date %>
    <input class='datetimepicker' name='event[end_date]' required="true" value="<%=@recurring_event.end_date %>">
    <br>
    <%= f.label :recurring_rules, "Recurring?" %>
    <%= f.select_recurring :recurring_rules, [
      IceCube::Schedule.from_hash(@recurring_event.recurring_rules).recurrence_rules[0],
      IceCube::Rule.daily,
      IceCube::Rule.weekly.day(:monday, :tuesday, :wednesday, :thursday, :friday)
      ] %>
  <% else %>
    <%= f.label :start_date %>
    <input class='datetimepicker' name='event[start_date]' required="true" value="<%= @event.start_date%>" >
    <br>
    <%= f.label :end_date %>
    <input class='datetimepicker' name='event[end_date]' required="true" value="<%=@event.end_date %>">
  <% end %>
  <br>
  <%= f.label :producer %>
  <%= f.text_field :producer %>
  <br>
  <%= f.label :instructor %>
  <%= f.text_field :instructor %>
  <br>
  <%= f.label :number_of_attendees %>
  <%= f.number_field :number_of_attendees %>
  <br>
  <% if can? :approve, @event %>
  <%= f.label :approved %>
  <%= f.check_box :approved %>
  <br>
  <% end %>
  <% if @recurring_event %>
  <%= f.submit :"Update all", name: 'update_all', data: {confirm: "Are you sure? This will change all events in the series."} %>
  <% else %>
  <%= f.submit %>
  <% end %>
<% end %>
<script type="text/javascript">
  var url;
    
  $(".new_event").on("submit", function(e){
    e.preventDefault()
    var data = $(this).serialize()
    
    if ($("select#event_recurring_rules").val() === "null") {
      url = window.location.origin + "/events"
    } else {
      url = window.location.origin + "/recurring_events"
    }
    console.log(url);
    $.ajax({
      method: "post",
      url: url,
      data: data
    }).done(function(res){
      console.log(res);
    }).fail(function(res){
      console.log(res);
    })
  })
</script>
