<h3>New Event</h3>
<% if @event.errors.any? %>
  <% @event.errors.full_messages.each do |err| %>
    <div class='error'>
      <%= err %>
    </div>
  <% end %>
<% end %>
<%= form_for @event do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, required: true, value: "Testing 1.2.3" %>
  <br>
  <%= f.label :space_id %>
  <%= f.select :space_id, Space.all.collect{|s| [s.title, s.id] } %>
  <br>
  <%= f.label :event_type_id %>
  <% kinds = ["Immersive", "Part Time Course", "Info Session", "C&W", "Event", "Alumni", "Internal"]%>
  <%= f.select :event_type_id, EventType.all.collect{|et| [et.title, et.id] } %>
  <br>
  <%= f.label :start_date %>
  <input class='datetimepicker' name='event[start_date]' required="true" value="2016/04/05 15:00">
  <br>
  <%= f.label :end_date %>
  <input class='datetimepicker' name='event[end_date]' required="true" value="2016/04/05 16:00">
  <br>
  <%= f.label :producer %>
  <%= f.text_field :producer %>
  <br>
  <%= f.submit :"Check Availability", class: "js-submit-event" %>
<% end %>
