<%= link_to "&laquo; Back".html_safe, :back %>
<h2><%= @event.title %></h2>
<p><%= @event.start_date.strftime("%F %H:%M") %> -
  <%= @event.end_date.strftime("%F %H:%M") %></p>
<p><%= @event.space.title %></p>
<p>Type: <%= @event.event_type.title %></p>
<p>Event Style: <%= @event.event_style %></p>
<p>Attendees: <%= @event.number_of_attendees %></p>
<p>Producer: <%= @event.producer %></p>
<p>Instructor: <%= @event.instructor %></p>
<%= link_to "Edit", edit_event_path(@event), class: 'button'%>
<%= link_to "Delete", event_path(@event), method: :delete, data: {confirm: "Are you sure?"}, class: 'button' %>
<% if @recurring_event %>
  <%= link_to "Delete All", recurring_event_path(@recurring_event), method: :delete, data: {confirm: "Are you sure?"}, class: 'button' %>
<% end %>
<h3>Notes</h3>
<%= form_for [@event, @note] do |f| %>
  <%= f.text_area :text %>
  <%= f.submit %>
<% end %>
<% @event.notes.each do |note| %>
  <div class='note'>
    <p>
      <%= note.text %>
    </p>
    <small>Last updated <%= time_ago_in_words(note.updated_at) %> ago</small>
    <%= link_to "Edit", edit_event_note_path(@event, note), class: 'button'%>
    <%= link_to "Delete", event_note_path(@event, note), method: :delete, data: {confirm: "Are you sure?"}, class: 'button' %>
  </div>
<% end %>
