

<div class='right'>
  <a class='button <%="active" if params[:view]=="day" %>' href='<%= show_date_path(@day.strftime("%F"), request.query_parameters.merge(view: 'day'))%>'>
    Day
  </a>
  <a class='button <%="active" if params[:view]=="week" %>' href='<%= show_date_path(@day.strftime("%F"), request.query_parameters.merge(view: 'week'))%>'>
    Week
  </a>
  <a class='button <%="active" if params[:view]=="agenda" %>' href='<%= show_date_path(@day.strftime("%F"), request.query_parameters.merge(view: 'agenda'))%>'>
    Agenda
  </a>
</div>

<% if params[:view] == "agenda" %>
  <%= render "agenda" %>
<% elsif params[:view] == "week" %>
  <%= render "week" %>
<% else %>
  <%= render "day" %>
<% end %>
