<h2><%= @event.title %></h2>
<%= @event.space.title %>
<%= @event.start_date.strftime("%F %H:%M") %> -
<%= @event.end_date.strftime("%F %H:%M") %>

<%= link_to "Delete", event_path(@event), method: :delete %>
