<%= link_to "&laquo; Yesterday".html_safe, "/days/" + @yesterday %>
&nbsp;<%= @today %>&nbsp;
<%= link_to "Tomorrow &raquo;".html_safe, "/days/" + @tomorrow %>
<br>
<style>
  .wrap{
    padding-left:3em;
    padding-top:2em;
  }
  .cal{
    border: 1px solid black;
    width:100%;
    height:500px;
    overflow:visible;
  }
</style>
<div class='wrap'>
  <svg class='cal'></svg>
</div>
<script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.js'></script>
<script>
  var spaces = <%= @spaces.to_json.html_safe %>;
  var data = <%= @events.to_json.html_safe %>;
  var scaleX = d3.scale.linear().domain([8,22]).range([0,100])
  var offsetX = function(d){
     var m = moment.utc(d.start_date)
     var hours = parseInt(m.format("H"))
     var minutes = m.format("m") / 50;
     return scaleX(hours + minutes) +"%"
  }

  var svg = d3
  .select(".cal")

  // x axis
  svg
  .append("g")
  .attr("class","X Axis")
  .selectAll("text")
  .data([8,9,10,11,12,13,14,15,16,17,18,19,20,21,22])
  .enter()
  .append("text")
  .attr("x",function(d){
    return scaleX(d) + "%"
  })
  .attr("dy","-1em")
  .attr("fill", "#000")
  .style("font-size", "10px")
  .text(function(d){
    return d
  })

  // y axis
  svg
  .append("g")
  .attr("class","Y Axis")
  .selectAll("text")
  .data(spaces)
  .enter()
  .append("text")
  .attr("dx", "-60")
  .attr("y", function(d, i){
    return (i * 70) + 40;
  })
  .attr("dy","-1em")
  .attr("fill", "#000")
  .style("font-size", "10px")
  .text(function(d){
    return d.title
  })

  // y lines
  svg.append("g")
  .selectAll("line")
  .data(spaces)
  .enter()
  .append("line")
  .attr("x1", 0)
  .attr("y1", function(d, i){
    return (i * 70);
  })
  .attr("x2", "100%")
  .attr("y2", function(d, i){
    return (i * 70);
  })
  .attr("stroke", "#eee")
  .attr("stroke-width", "1")

  var square = d3
  .select(".cal")
  .selectAll(".events")
  .data(data)
  .enter()
  .append("g")
  .attr("class","events")

  square.append("rect")
  .text(function(d){
    return d.id
  })
  .attr("y", function(d, i){
    var spaceIds = spaces.map(function(d){
      return d.id
    })
    return spaceIds.indexOf(d.space_id) * 70
  })
  .attr("width", function(d){
    var now  = d.start_date;
    var then = d.end_date;
    var ms = moment(then).diff(moment(now));
    var du = moment.duration(ms);
    var hs = du.asHours()
    return scaleX(hs + 8) +"%"
  })
  .attr("height", "70px")
  .style("fill", function(d){
    return d.color
  })
  .attr("x", offsetX)
  .attr("href", function(d){
    return "/events/" + d.id
  })
  .on("click", function( ){
    window.location = this.getAttribute("href")
  })
  .append("title")
  .text(function(d){
    return moment.utc(d.start_date).format("h:mma") + " - " + moment.utc(d.end_date).format("h:mma")
  })

  square
  .append("text")
  .attr("x",offsetX)
  .attr("y", function(d, i){
    var spaceIds = spaces.map(function(d){
      return d.id
    })
    return spaceIds.indexOf(d.space_id) * 70
  })
  .attr("width","100%")
  .attr("height","100%")
  .attr("dy", "1.25em")
  .attr("dx", ".25em")
  .attr("fill", "#fff")
  .style("font-size", "10px")
  .text(function(d){
    return d.title
  })

</script>
