<!DOCTYPE html>
<html>
<head>
  <title>MasterPlan</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>
<%= link_to image_tag("spacey.png"), root_path %>
</h1>
<nav>
  <%= link_to "New Event", new_event_path %>
  <%= link_to "Today", "/days/" + Time.now.strftime("%F") %>
  <%= link_to "Settings", settings_path %>
</nav>
<br>

<%= yield %>

</body>
</html>
