<!DOCTYPE html>
<html>
<head>
  <title>MasterPlan</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1><%= link_to "Spacey", root_path %></h1>
<nav>
  <%= link_to "Spaces", spaces_path %>
  <%= link_to "Events", events_path %>
</nav>
<br>

<%= yield %>

</body>
</html>
